.template {
    visibility: hidden;
}

.student {
    border: 1px solid #C0C0C0;
    padding: 0.75rem 1.25rem;
    height: 4rem;
}

.actions {
    float: right;
    margin-bottom: 0;
}

.student + .student {
    border-top: 0;
}

.student-name {
    float: left;
    line-height: 38px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 110px);
}

.promoted {
    border-color: #FFD700;
    background-color: #FFD700;
}